<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

	   http://www.springframework.org/schema/context

	   http://www.springframework.org/schema/context/spring-context.xsd

	   http://www.springframework.org/schema/mvc

	   http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启注解驱动，扫描包-->
    <context:component-scan base-package="com.kgc.*"></context:component-scan>

    <!--开启springmvc的注解驱动-->
    <mvc:annotation-driven>
        <!--解决@ResponseBody返回流的方式的中文乱码问题-->
        <mvc:message-converters>
            <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="utf-8"></constructor-arg>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--配置文件上传:CommonsMultipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSizePerFile" value="1048576"></property>
        <property name="maxUploadSize" value="10485760"></property>
    </bean>

</beans>
